@model dotNetWebAPI.Models.VirtualTerminalTransactionGetResponseModels.VT_TRANSACTION

@if (Model != null)
{
    <hr>
    <div class="container">
        <div class="col-md-12" style="padding-left:0;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Virtual Terminal Get Response</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong class="">Response Code</strong> <div class="">@Model.RESPONSECODE</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Transaction Identifier</strong> <div class="">@Model.TRANSACTIONID</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Account Number</strong> <div class="">@Model.ACCOUNTNUMBER</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Address</strong> <div class="">@Model.ADDRESS</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Amount</strong> <div class="">@Model.AMOUNT</div>

                        </li>
                        <li class="list-group-item">
                            <strong class="">Collection Mode</strong> <div class="">@Model.COLLECTIONMODE</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">PRC</strong> <div class="">@Model.PRC</div>
                        </li>
                        <li class="list-group-item">
                            <div>...Finish building out view for desired info...</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
