@model dotNetWebAPI.Models.VirtualTerminalTransactionGetResponseModels.VT_TRANSACTION
@using dotNetWebAPI.Models;

@if (Model != null)
{
    <hr>
    <div class="container">
        <div class="col-md-12" style="padding-left:0;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Virtual Terminal Get Response</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong class="">URI used to get information below</strong> <div class="">"https://stage.collectorsolutions.com/magic-api/api/transaction/8E3F20CE5619431D9BE737FD80E3E990/fa743adff96e530965cae46ce4fd"</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Approval Status</strong> <div class="">@Model.approvalStatus</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Transaction Identifier</strong> <div class="">@Model.transactionIdentifier</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">PRC</strong> <div class="">@Model.paymentReceiptConfirmation</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Date and Time</strong> <div class="">@Model.dateTime</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Amount</strong> <div class="">@Model.amount.ToString("C")</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Fee Amount</strong> <div class="">@Model.feeAmount.ToString("C")</div>
                        </li>
                        <li class="list-group-item">
                            <strong class="">Total Remitted</strong> <div class="">@Model.totalRemitted.ToString("C")</div>
                        </li>
                        <li class="list-group-item">
                            <div>...Finish building out view for desired info...</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
